{{ attach_library('silfi_opencityitalia/satisfy') }}
<div class="bg-primary">
  <div class="container">
    <div class="row d-flex justify-content-center bg-primary">
      <div class="col-12 col-lg-6 p-lg-0 px-4">
        <app-widget data-entrypoints="{{ uuid }}"></app-widget>
      </div>
    </div>
  </div>
</div>
